@font-face {
  font-family: 'Orbitron';
  src: url("../../shared-ui/assets/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.status-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Orbitron";
  color: white;
  text-align: center;
  transition: background-color 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-screen.meeting {
  background-color: #ff3b30;
}

.status-screen.available {
  background-color: #88cc88;
}

.status-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.status-detail {
  display: flex;
  align-items: center;
}

.status-detail-row {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  /* border: 1px solid rgba(10, 10, 10, 0.5); */
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);  
  border-radius: 25px;
  backdrop-filter: blur(6px);
  padding: 0.5rem;
  min-width: 450px;
  justify-content: center;
}

.divider {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 1.5rem;
  align-self: center;
}

.status-value {
  text-transform: uppercase;
  margin-left: 0.3rem;
  transition: color 0.3s ease-in-out;
  letter-spacing: 1px;
}

.status-value.on {
  color: #ff4444;
  font-weight: 500;
}

.status-message {
  position: relative;
  margin-top: -1rem;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background: rgba(0, 0, 0, 0.5); /* dark background */
  border-radius: 1.25rem;
  font-size: 1.1rem;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  max-width: 80%;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

/* Triangle tail above the bubble */
.status-message::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}
